<div class="container">
  <div class="row row-same-height">
    <div class="col-lg-4">
      <h1><%= @user.first_name %> <small>- <%= @user.email %></small></h1>
    </div>
    <div class="col-lg-4 pull-right event-form">
        <%= link_to "New Event", new_event_path, class: "btn btn-success" %>
    </div>
  </div>
</div>


<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <% @user.accepted_events.each do |event| %>
        <%= render partial: "events/event", locals: {event: event} %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <% @user.pending_events.each do |event| %>
        <%= render partial: "events/event", locals: {event: event} %>
      <% end %>
    </div>
  </div>
</div>
