<div class="container">
  <div class="row row-same-height">
    <div class="col-sm-2 col-md-4">
      <h1><%= @user.full_name %> <small> <%= @user.email %></small></h1>
    </div>
    <div class="col-md-4 to-the-right event-form">
        <%= link_to "New Event", new_event_path, class: "btn btn-success" %>
    </div>
  </div>
</div>


<div class="spacer-xl"></div>

  <div class="row">
    <ul class="list-group">
    <div class="col-md-8">
      <% @user.accepted_events.each do |event| %>
        <li class="list-group-item"><%= render partial: "events/event", locals: {event: event} %></li>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <% @user.pending_events.each do |event| %>
        <li class="list-group-item active"><%= render partial: "events/event", locals: {event: event} %></li>
      <% end %>
    </div>
    </ul>
  </div>
