  <% event.all_messages(event).each do |conversation| %>
    <div class="media to-the-right">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="http://placehold.it/64x64" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <b>Subject: </b><%= conversation.subject %> <br>
          <small><b>Date: </b><%=  conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small><br>
          <small><b>To: </b><%= event.users.pluck("first_name").join(" , ") %> </small>
        </h4>
        <div class="conversation-links">
        <%= truncate conversation.messages.last.body, length: 145 %>
        <%= link_to "View", conversation_path(conversation)  %>
        <% if event.admin?(current_user) %>
            <%= link_to 'Delete', delete_message_conversation_path(conversation), class: "user-links-danger", method: :post, data: {confirm: 'Are you sure?'} %>
        <% end %>
              <a class="btn btn-primary btn-xs" role="button" data-toggle="collapse" href="#collapseReply<%="#{conversation.id}"%>">
                Reply
              </a>
          <div id="collapseReply<%="#{conversation.id}"%>" class="collapse">
            <%= form_for :message, class: "form-group", url: reply_conversation_path(conversation) do |f| %>
            <%= f.text_area :body, placeholder: "Reply", rows: 2, class: "form-control" %>
             <div class="space">
            <%= f.submit "Reply", class: "btn btn-danger btn-xs" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% end %>
