    <h4 class="media-heading">
    <% if @user.event_status(event.id) == "accepted" && @user == current_user %>
      <%= link_to event.title, event_path(event.id), class: "user-links" %>
    <% elsif @user.event_status(event.id) == "pending" && @user == current_user %>
      <%= "#{event.title}" %>
      <%= link_to "Accept", accept_invite_user_path(event.id), class: "user-links" %> |
      <%= link_to "Decline", decline_invite_user_path(event.id), class: "user-links"%>
    <% else %>
      <%= "#{event.title}" %>
    <% end %>
    </h4>
</br>
