<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 clearfix offset">
      <h1>
        <%= @event.title %><br>
        <small>
          submitted <%= time_ago_in_words(@event.created_at) %> ago by <%= @event.users.first.first_name %>
        </small>
      </h1>
    </div>

  </div>
</div>


<br>
<%= render partial: 'member' %>
<div class="form-group">
  <div class="form">
    <div class="col-md-4">
      <% if @event.admin?(current_user) %>
      <%= render partial: "users/form", locals: {event: @event} %>
      <% end %>
    </div>
  </div>
</div>
<div class="new-todo">
    <%= render partial: "todos/form", locals: {event: @event, todo: Todo.new} %>
</div>
<div class="media js-todos">
  <ul class="list-group">
    <% @event.todos.each do |todo| %>
    <%= render partial: 'todos/todo', locals: {event: @event, todo: todo} %>
    <% end %>
  </ul>
</div>

<div class="form-group">
  <div class="col-xs-4">
    <% if @event.admin?(current_user) %>
      <%= render partial: "events/send_message", locals: {event: @event} %>
    <% end %>
  </div>
</div>

<div class="form-group">
  <div class="col-xs-6">
      <%= render partial: "events/conversation", locals: {event: @event} %>
  </div>
</div>
