<div class="container">
  <div class="row spacer">

    <div class="col-sm-2 col-md-2 ">
      <%= render partial: 'member' %>
    </div>
    <div class="col-sm-2 col-md-10  to-the-right">
      <h1>
        <%= @event.title %><br>
        <small>
          submitted <%= time_ago_in_words(@event.created_at) %> ago by <%= @event.users.first.first_name %>
        </small>
      </h1>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-2 col-md-4">
      <%= render partial: "buttons" %>
    </div>
    <div class="spacer-xl"></div>
    <div class="col-md-8 col-md-4">
      <% @event.all_conversations(@event).each do |conversation| %>
      <%= render partial: "events/conversation" , locals: {event: @event, conversation: conversation} %>
      <% end %>
    </div>
  </div>
<div class="spacer-xl"></div>
</div>
