<!DOCTYPE html>
<html>
<head>
  <title>Collably</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "Collably", root_path %></li>
        <% if current_user %>
          <li><%= link_to "#{current_user.first_name}'s Dashboard", user_path(current_user), :class => 'navbar-link' %></li>
          <% end %>
        <div class="pull-right user-info">
          <% if current_user %>
          <div class="pull-right">
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %> |
            <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %>
          <% end %>
        </div>
      </ul>
      <div class="flash">
      <% if flash[:notice] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
          </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
          </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>

      <% end %>
    </div>

        <%= yield %>
    </div>
  </body>
</html>
